{% extends 'layout/base.html' %}
{% block content %}

<div class="row wrap_nv">
    <div class="col index_nv">
        <div class="card imgnv" style="width:250px;">
          <img class="card-img-top" src="https://res.cloudinary.com/ddgxultsd/image/upload/v1734600516/juskd0zrfjvraeyjmexi.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Chức năng</h4>
              <p class="card-text">Bán vé</p>
            <a href="/danhsachchuyenbay" class="btn btn-primary">Sử dụng ngay</a>
          </div>
        </div>
    </div>
    <div class="col index_nv">
        <div class="card imgnv" style="width:250px;">
          <img class="card-img-top" src="https://res.cloudinary.com/ddgxultsd/image/upload/v1734601523/hxx8mxvigpevzx8nx1sd.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Chức năng</h4>
              <p class="card-text">Lập lịch chuyến bay</p>
            <a href="/lap_lich_chuyen_bay" class="btn btn-primary">Sử dụng ngay</a>
          </div>
        </div>
    </div>
</div>
{% endblock  %}