{% extends 'layout/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="wraphuongdan">
            <div style="margin-top: 6px; max-width: 100%; float: left; min-height: 500px;">
                <h4 class="head-title3">Hướng dẫn cho bạn đặt chỗ</h4>
                <p style="text-align: left; line-height: 20px;"><span style="text-decoration: underline;"><em><strong>Bước 1</strong></em>:</span>&nbsp;Trong
                    khung <strong><span style="color: #ff0000;">TÌM CHUYẾN BAY</span></strong>. Bạn chọn điểm đi
                    và đến, thời gian ngày đi và số lượng hành khách, trẻ em
                    đi cùng và nhấp chuột vào <span style="color: #ff0000;"><strong>TÌM CHUYẾN BAY</strong></span></p>
                <img src="https://res.cloudinary.com/ddgxultsd/image/upload/v1733604774/ltdiniug5eoykgkrafxd.png"
                     style="width:657px; margin-top:5px"/>
                <p style="text-align: justify; line-height: 20px;"><span
                        style="text-decoration: underline;"><em><strong>Bước 2</strong></em>:</span> Lựa chọn giờ bay và
                    hạng giá vé thích hợp (nhấp chuột vào nút <span
                            style="color: #ff0000;"><strong>CHỌN</strong> </span>sau đó nhấn nút <span
                            style="color: #ff0000;"><strong>TIẾP TỤC</strong></span>)</p>
                <p style="text-align: justify; line-height: 20px;"><span
                        style="text-decoration: underline;"><em><strong>Bước 3</strong></em>:</span> Khách hàng chọn loại hạng ghế
                     <span
                            style="color: #ff0000;"><strong>CHỌN</strong> </span>sau đó nhấn nút <span
                            style="color: #ff0000;"><strong>TIẾP TỤC</strong></span>)</p>

            </div>
        </div>
    </div>
</div>
{% endblock %}