{% extends 'layout/base.html' %}

{% block content %}
<div class="row wrap_nv">
    <!-- Đăng nhập dưới vai trò Người dùng -->
    <div class="col index_nv">
        <div class="card imgnv" style="width:250px;">
            <img class="card-img-top" src="https://res.cloudinary.com/ddgxultsd/image/upload/v1733713076/zwa6c4ubxtq7smtxm9aq.png" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Đăng nhập dưới vai trò:</h4>
                <p class="card-text">Người dùng</p>
                <a href="/" class="btn btn-primary">Đăng nhập ngay</a>
            </div>
        </div>
    </div>

    <!-- Kiểm tra và hiển thị vai trò tương ứng -->
    {% if 'NhanVien' in user_role_change or 'NguoiQuanTri' in user_role_change %}
    <div class="col index_nv">
        <div class="card imgnv" style="width:250px;">
            <img class="card-img-top" src="https://res.cloudinary.com/ddgxultsd/image/upload/v1733713076/zwa6c4ubxtq7smtxm9aq.png" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Đăng nhập dưới vai trò:</h4>
                <p class="card-text">Nhân viên</p>
                <a href="/chuc_nang" class="btn btn-primary">Đăng nhập ngay</a>
            </div>
        </div>
    </div>
    {% endif %}

    {% if 'NguoiQuanTri' in user_role_change %}
    <div class="col index_nv">
        <div class="card imgnv" style="width:250px;">
            <img class="card-img-top" src="https://res.cloudinary.com/ddgxultsd/image/upload/v1733713076/zwa6c4ubxtq7smtxm9aq.png" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Đăng nhập dưới vai trò:</h4>
                <p class="card-text">Người quản trị</p>
                <a href="/chuc_nang" class="btn btn-primary">Đăng nhập ngay</a>
            </div>
        </div>
    </div>
    {% endif %}

    {% if 'NguoiKiemDuyet' in user_role_change %}
    <div class="col index_nv">
        <div class="card imgnv" style="width:250px;">
            <img class="card-img-top" src="https://res.cloudinary.com/ddgxultsd/image/upload/v1733713076/zwa6c4ubxtq7smtxm9aq.png" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Đăng nhập dưới vai trò:</h4>
                <p class="card-text">Người kiểm duyệt</p>
                <a href="/chuc_nang" class="btn btn-primary">Đăng nhập ngay</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
