{% extends "admin.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/quanlychuyenbay.css') }}">
{% endblock %}

{% block title %}
Quản Lý Người Dùng
{% endblock %}

{% block sidebar %}
{{ super() }}
<script>
     // Tìm tất cả các thẻ a trong sidebar và loại bỏ class active
    document.querySelectorAll('.sidebar a').forEach(link => {
        link.classList.remove('active');
    });
    // Thêm class active vào mục Thống Kê
    document.querySelector('.sidebar a[href="{{ url_for('quanly') }}?id=125"]').classList.add('active');
</script>
{% endblock %}

{% block recent_updates %}

{% endblock %}

{% block sale_analytics %}

{% endblock %}

{% block content %}
<h1>Quản Lý Chuyến Bay</h1>
<form class="quanly_container" method="post" action="{{ url_for('quanly') }}">
    <table>
        <thead>
                <tr>
            <th>id Chuyến Bay</th>
            <th>id Tuyến Bay</th>
            <th>Giờ Bay</th>
            <th>Thời Gian Bay</th>
        </tr>
        </thead>
        <tbody>
                <tr>
            <td><input type="number" name="id_chuyen_bay" required></td>
            <td><input type="number" name="id_tuyen_bay" required></td>
            <td><input type="datetime-local" name="gio_bay" required></td>
            <td><input type="number" name="tg_bay" placeholder="Phút" required></td>
        </tr>
        </tbody>

    </table>

    <table class="second-table">
        <tr>
            <th>Ghế hạng 1</th>
            <th>Ghế hạng 2</th>
            <th>Gh 1 đã đặt</th>
            <th>Gh 2 đã đặt</th>
        </tr>
        <tr>

            <td><input type="number" name="gh1" required></td>
            <td><input type="number" name="gh2" required></td>
            <td><input type="number" name="gh1_dd" required></td>
            <td><input type="number" name="gh2_dd" required></td>
        </tr>
    </table>
    <div class="button-group">
        <button type="submit" class="btn-blue">Lưu dữ liệu</button>
    </div>
</form>

{% endblock %}
