{% extends 'layout/base.html' %}

{% block content %}

<div class="sign">
    <div id="form-login" class="login-phara">
        <div class="wrap signn">
            <form class="form-group" method="post" action="/register" enctype="multipart/form-data">
                <div>
                    <div class="title">TẠO TÀI KHOẢN</div>
                </div>
                <div class="input-box">
                    <label class="fs-2" for="name">Họ và tên:</label>
                    <input
                            type="text"
                            id="name"
                            name="name"
                            placeholder="Nhập Họ và tên..."
                            required
                            minlength="2"
                    />
                    <i class="bx bxs-user"></i>
                </div>
                <p class="form-error">Nhập ít nhất 2 ký tự</p>
                <div class="input-box">
                    <label class="fs-2">Email:</label>
                    <input
                            type="email"
                            id="mail-signup"
                            class="email-input"
                            name="email"
                            placeholder="Nhập địa chỉ email(VD: abc@gmail.com)"
                            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,4}" required>
                    <i class="bx bxs-user"></i>
                </div>
                <p class="form-error">
                        Vui lòng nhập đúng email
                </p>
                {% if err_msg == 'Email đã tồn tại!' %}
                        <div class="alert alert-danger" role="alert">
                            {{ err_msg }}
                        </div>
                {% endif %}
                <div class="input-box">
                    <label class="fs-2">Mật khẩu:</label>
                    <input
                            type="password"
                            id="psw"
                            name="password"
                            placeholder="Nhập mật khẩu"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            minlength="8"
                            required
                    />
                    <i class="bx bxs-lock-alt"></i>
                </div>
                <div id="pass-error">
                    <p id="letter" class="invalid">
                        Có chữ viết thường
                    </p>
                    <p id="capital" class="invalid">
                        Có chữ viết hoa
                    </p>
                    <p id="number" class="invalid"> Có số</p>
                    <p id="length" class="invalid">
                        Ít nhất 8 ký tự
                    </p>
                </div>
                <div class="input-box">
                    <label class="fs-2">Nhập lại mật khẩu:</label>
                    <input
                            type="password"
                            id="confirm"
                            name="confirm"
                            placeholder="Nhập lại mật khẩu"
                            required
                    />
                    <i class="bx bxs-lock-alt"></i>
                </div>
                {% if err_msg == 'Mật khẩu không khớp!' %}
                        <div class="alert alert-danger" role="alert">
                            {{ err_msg }}
                        </div>
                {% endif %}
                <label class="fs-2">Ảnh đại diện:</label>
                <div class="form-floating input-box">
                    <input type="file" class="form-control ava" id="avatar" name="avatar" />
                </div>
                <div class="submit">
                    <button
                            type="submit"
                            class="buttonlogin"
                            id="dangky"
                            name="dangky"
                    >
                        Đăng&nbsp;ký&nbsp;ngay
                    </button>
                </div>
            </form>
            <div class="loginwith">
                <span>Hoặc đăng kí với</span>
            </div>
            <div class="gg">
                <button class="signup-social logo-wrapper">
                    <img
                            src="https://res.cloudinary.com/ddgxultsd/image/upload/v1732841525/aqxv2wun8qmlj5sre6yp.png"
                            alt="logo GG"
                    />
                    <span class="signup-social-text"
                    >Đăng nhập bằng Google</span
                    >
                </button>
            </div>
            <div class="register">
                <p>
                    Bạn đã có tài khoản ?
                    <a href="/login" id="prev">Đăng nhập ngay</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock  %}