{% extends 'layout/base.html' %}

{% block content %}

<div id="formStep1" style="background-color: white; width: 60%" >
   <div class="form-container">
        <div class="alert alert-success" style="width: 60%; font-size: 20px">
          <strong>Success!</strong> Bạn đã thanh toán thành công! <br>
            <p>Mã giao dịch: {{ order_code }}</p>
            <br>
            <p>Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi.</p>
        </div>
   </div>
    <div class="form-container">
       <button id="goHome" class="btn btn-danger" style="width: 40%">Quay về trang chủ</button>
   </div>
</div>
<script>
    // Xử lý nút "Hủy"
    document.getElementById('goHome').addEventListener('click', function () {
        window.location.href = '/'; // Quay về trang chủ
    });
</script>
{% endblock %}