{% extends 'layout/base.html' %}

{% block content %}
<div class="row wrap_nv">
    <!-- Đăng nhập dưới vai trò Người dùng -->
    <div class="col index_nv">
        <div class="card imgnv" style="width:250px;">
            <img class="card-img-top" src="https://res.cloudinary.com/ddgxultsd/image/upload/v1733713076/zwa6c4ubxtq7smtxm9aq.png" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Thay đổi quy định:</h4>
                <p class="card-text">Bán vé</p>
                <a href="/quydinhbanve" class="btn btn-primary">Dùng ngay</a>
            </div>
        </div>
    </div>

    <div class="col index_nv">
        <div class="card imgnv" style="width:250px;">
            <img class="card-img-top" src="https://res.cloudinary.com/ddgxultsd/image/upload/v1733713076/zwa6c4ubxtq7smtxm9aq.png" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Thay đổi quy định:</h4>
                <p class="card-text">Sân Bay</p>
                <a href="/quydinhsanbay" class="btn btn-primary">Dùng ngay</a>
            </div>
        </div>
    </div>

    <div class="col index_nv">
        <div class="card imgnv" style="width:250px;">
            <img class="card-img-top" src="https://res.cloudinary.com/ddgxultsd/image/upload/v1733713076/zwa6c4ubxtq7smtxm9aq.png" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Thay đổi quy định:</h4>
                <p class="card-text">Vé</p>
                <a href="/quydinhve" class="btn btn-primary">Dùng ngay</a>
            </div>
        </div>
    </div>
    <div class="col index_nv">
        <div class="card imgnv" style="width:250px;">
            <img class="card-img-top" src="https://res.cloudinary.com/ddgxultsd/image/upload/v1733713076/zwa6c4ubxtq7smtxm9aq.png" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Thay đổi:</h4>
                <p class="card-text">Bảng giá vé</p>
                <a href="/banggiave" class="btn btn-primary">Dùng ngay</a>
            </div>
        </div>
    </div>

</div>
{% endblock  %}