{% extends 'layout/base.html' %}

{% block content %}
<div id="formStep1" style="background-color: white">
    <div class="form-group">
        <table class="table table-hover table-striped" style="text-align: center; font-size: 18px">
            <thead>
            <tr>
                <th>Họ và tên</th>
                <th>loại vé</th>
                <th>Số điện thoại</th>
                <th>Số CCCD</th>
                <th>Ngày sinh</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
                {% for khach in hanhKhach %}
                <tr>
                    <td>{{ khach.fullName }}</td>
                    <td> {{ khach.loaiVe }}</td>
                    <td>{{ khach.phone }}</td>
                    <td>{{ khach.cccd }}</td>
                    <td>{{ khach.ngaySinh }}</td>
                    <td>{{ khach.email }}</td>
                </tr>
                {% endfor %}

                {% if veTreEm > 0 %}
                {% for khach in treEm %}
                <tr>
                    <td>{{ khach.fullName }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ khach.ngaySinh }}</td>
                    <td></td>
                </tr>
                {% endfor %}
                {% endif %}
                {% if emBe %}
                {% for khach in emBe %}
                <tr>
                    <td>{{ khach.fullName }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ khach.ngaySinh }}</td>
                    <td></td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    <form action="{{ url_for('thanhtoanonline') }}" method="post">
        <div class="button form-container">
            <button id="prev" class="btn btn-warning" type="button"> Quay lại</button>
            <button id="DatVe" class="btn btn-success" type="submit"> Đặt vé</button>
            <button id="cancel" class="btn btn-danger" type="button"> Hủy</button>
        </div>
    </form>
</div>


<style>
    /* Đảm bảo cha bao quanh nút là container flex */
    .form-container {
        display: flex;
        justify-content: center; /* Căn giữa theo chiều ngang */
        align-items: center; /* Căn giữa theo chiều dọc (nếu cần) */
        gap: 10px; /* Khoảng cách giữa các nút */
    }

    /* Đảm bảo nút có cùng kích thước nếu cần */
    .btn {
        padding: 10px 20px;
        font-size: 16px;
    }
</style>

<script>
    // Xử lý nút "Quay lại"
    document.getElementById('prev').addEventListener('click', function () {
        window.history.back(); // Quay lại trang trước
    });

    // Xử lý nút "Hủy"
    document.getElementById('cancel').addEventListener('click', function () {
        window.location.href = '/'; // Quay về trang chủ
    });
</script>

{% endblock %}